*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*  Modification NavBar */

.navbar{
  font-size: 19px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* NavBar Fin */

/*  Modification TextePrincipal */

.TextePrincipal{
  color: #004A7F;
}

/* TextePrincipal Fin */
