*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*  Modification NavBar */

.navbar{
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* NavBar Fin */

/*  Modification du formulaire contacte */


.Formulaire-modif h1{
    font-size: 30px;
}


.Formulaire-modif{
    text-align: left;
    margin-top: 40px;
}

.TitreAcceuil h2{
    font-size: 30px;
    margin-top: 5px;
    color: #004A7F;
    text-align: center;
}

.BanniereAcceuil{
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 30px;
}

h1{
    text-align: center;
    color: #004A7F;
}

.form-style {
    margin:10px auto;
    width: 400px;
    padding: 20px 12px 10px 20px;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style td {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}

.form-style .required{
    color:red;
}

.form-style input[type=submit], .form-style input[type=reset]{
    background: #4eb5f1;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

.form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
    background: #4eb5f1;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.form-style .field-textarea{
    height: 100px;
}
.form-style input[type=text], 
.form-style input[type=email],

textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    outline: none;  
}
.form-style .long{
    width: 100%;
}

.form-style input[type=text]:focus, 
.form-style input[type=email]:focus,

.form-style textarea:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.error{
    color: #D8000C;
    background-color: #FFBABA;
}
/* Formulaire fin */

/* Modification Footer */

.bg-grey {
    background: #292929;
    margin: 0%;
}

.logo-footer {
    margin-bottom: 40px;
}

footer {
    color: grey;
} 

footer p, a {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
    font-size: 22px;
    color: white;
    
}

footer h6:after {
    position: absolute;
    content: "";
    background: #004A7F;
    width: 12%;
    height: 3px;
    left: 0;
    bottom: -20px;
}

.btn-footer {
    color: #004A7F;
    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}

.btn-footer:hover {
    text-decoration: none;
}

.form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;

}
::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}

.form-footer input[type="button"] {
    border: none;
    background:#232323;
    margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}

footer ul li {
    list-style: none;
    display: block;
}

footer ul  {
    padding-left: 0;
}

footer ul  li a{
    text-decoration: none;
    color: grey;
    text-decoration:none;
}

a:hover {
    text-decoration: none;
}

.logo-part {
    border-right: 1px solid;
    height: 100%;
}

.formulaire-btn{
    margin-bottom: 55px;
}
.LogoTaille{
    font-size: 100px;
}

/*  Footer fin */
