/* Remet tout a zéro sur le site : marge ect  */
* {
    padding: 0 ;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

/* NabBar CSS Début */
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}


a:link{
    text-decoration: none;
}

label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.logo-img{
    float: left;
    position: relative;
    margin: -40px 15px 15px 20px;
}

nav ul {
    float: right;
    margin-right: 20px;

}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;

}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: 0;
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/* NabBar CSS Fin */























































/* .navbar{
    align-items: right !important;
    height: 75px;
}

.nav-link{
    align-items: right;
    font-weight: 300px;
}


header{
    background-color: rgb(187, 157, 75);
}

header h3{
    color: none;
    padding: 5px;
}

section.container{
    display: flex;
    flex-wrap: wrap;

}

section.container .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 1px 1px 12px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

section.container img, p, h2 {
    padding: 5px;
}


body {
    font-family: 'Signika', sans-serif;
 }
 .bg-grey {
    background: #292929;
 }
 .logo-footer {
    margin-bottom: 40px;
 }
 footer {
        color: grey;
 }
 footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
             color: grey;
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
} */