**{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
} 

body{
    display: flex;
    justify-content: right;
    align-items: right;
    font-family: monospace;
    background: black;
}

.nav {
    display: flex;
    list-style: none;
    background-color: none;
    width: 150%;
}

.nav_item{
    margin: 0 20px;
}
*.nav_link{
    display:  flex;
    font-weight: 500;
    font-size: 15px;
    color: white;
    position: relative;
    padding: 5px 100 0;
    overflow: hidden;
    text-decoration: none;
    text-transform:  uppercase;
    transition: .3s;
}

.nav_link::before{
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    background: lightskyblue;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav_link::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 100%;
    height: 2px;
    background: lightskyblue;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav_link:hover{
    color: white;
}


.nav_link:hover:before{
    right: 0;
}

.nav_link:hover::after{
    left: 0;
}
